/* Styles go here */
html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 0 20;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;

}

.nav__list {
  display: flex;
  margin: 0;
  color: black;
  list-style: none;
  padding: 0;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__item:first-child {
  padding-left: 0;
  margin-left: 0;
}

.nav__item:last-child {
  padding-right: 0;
  margin-right: 0;
}

.nav__link {
  display: flex;
  white-space: nowrap;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  justify-content: space-around;
}

.nav__link:hover,
.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: #00acdc;
  border-radius: 8px;
}

.container {
  width: 40px;
  height: 40px;
}
